{% extends 'base.html' %}
{% load static %}

{% block title %} Community {% endblock %}



{% block content %}

<h1>Community</h1>
    <p>Our mission is to promote honey beekeeping and to educate the public about honey bees and the benefits of pollinators.  We do that through our membership by supporting community groups throughout Howard County, Maryland</p>

    <p>Come by one of our outreach events, or post a question on one of our discussion forums. These pages will help you understand how HCBA strives to fulfill its mission each day and how you can help.</p>

<img src="{% static 'img/indexphoto.webp' %}" alt="">

{% endblock %}
