{% extends 'base.html' %}
{% load static %}

{% block title %} Services {% endblock %}



{% block content %}
    <h1>Got bees?</h1>
<p>So there you are, sitting outside, enjoying the day.  And then you notice it... a bee nest, or bees coming in and out of a crack in your wall or one huge ball 'o bees is in that tree over there... what to do? </p>

<p>If the insects are honey bees, one of our beekeepers on this list should be able to help.  But, before you pick up the phone, use our identification guide. That way, you'll be able to take the right steps right away.

​</p>

<img src="{% static 'img/indexphoto.webp' %}" alt="">

{% endblock %}
